<h1>New House</h1>

<%= form_for :house, url: houses_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :image_url %><br>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', houses_path %>
