<h1>New Character</h1>

<%= form_for :character, url: characters_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :house %><br>
    <%= f.text_area :house_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
