<h1><%= @character.name %></h1>
<p><%= @character.gender %></p>
<img class="character-header" src="<%= @character.img_url %>">

<p>
  <%= link_to "Back to the Characters", characters_path %> | <%= link_to 'Delete', character_path(@character), method: :delete,
  data: { confirm: 'Are you sure you want to delete this?'} %> | <%= link_to 'Edit', edit_character_path(@character) %>
</p>
