<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThronesRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "<%= controller.controller_name %>" >
    <header>
      <div class="container">
        <div class="logo"><%= link_to 'Game of Thrones', root_path %></div>
        <nav>
          <%= link_to 'Houses', houses_path %>
          <%= link_to 'Characters', characters_path %>
        </nav>
      </div>
  </header>
    <div class="container content">
      <% flash.each do |type, message| %>
        <p class="flash <%= type %>"><%= message %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
